body {
    background-color: #fce4ec;
    color: #333;
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

h1, h2, h3 {
    color: #ff4081;
}

label {
    color: #ff4081;
}

input {
    border: 1px solid #ff4081;
    padding: 8px;
    margin: 5px 0;
    border-radius: 50px;
}

button {
    background-color: #ff4081; 
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background-color: #d81b60;
}

#resultado {
    background-color: #fce4ec; 
    border: 2px solid #ff4081;
    padding: 10px;
    margin-top: 10px;
    border-radius: 50px;
    width: 20vw;
    text-align: center;
    align-items: center;
}
