/* Reset de Estilos Padrão */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    background-color: #ffcfdf;
    color: #333;
}

header {
    background-color: #fff3f3;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #ff69b4;
}

.img1{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 50px;
    background-color: #fff3f3;
    margin-top: 210px;
}